<link rel="stylesheet" href="<%=assetPath('css/header.css')%>" />
<!-- <header>
    <div>
        <img src="" alt="Logo" />
    </div>
    <div id="search-container">
        <form action="/search" method="POST">
            <input type="text" name="name" required placeholder="Search here" />
            <input type="submit" value="s" />
        </form>
    </div>
    <div id="right-div">
        <%if(!locals.user){%>
            <ul>
                <li>
                    <a href="/sign-in ">Sign-In</a>
                </li>
                <li>
                    <a href="/sign-up ">Sign-Up</a>
                </li>
            </ul>
            <%}else{%>

                <ul>
                    <li>
                        <a href="/user/profile?user_id=<%=locals.user.id%>">
          <img src="<%=locals.user.pic%>" alt="profile" />
        </a>
                    </li>
                    <li>
                        <a href="/user/sign-out ">Sign-Out</a>
                    </li>
                </ul>
                <%}%>
    </div>
</header> -->

<header style="z-index: 999999999">
    <div class="left-div">
        <div>
            <a href="/">
                <img height="40px" width="40px" src="\uploads\icons/18.logo.png" alt="logo" />
            </a>
        </div>
        <!-- <div style="display: flex; flex-direction: column">
            <div style="font-size: 18">chitkara_live</div>
            <div style="font-size: 12">be connected</div>
        </div> -->
        <div style="height: 100%">
            <form action="/search" method="POST" id="search-form" style="height: 75%">
                <input id="search-input" type="text" name="name" required placeholder="Search users" style="
            max-width: 170px;
            background-color: rgb(238, 238, 238);
            overflow: hidden;
            height: 98%;
            font-size: 17px;
          " />
                <input type="submit" value="s" style="height: 98%; font-size: 18px" />
            </form>
        </div>
    </div>
    <div class="mid-div">
        <a href="/">
            <div id="home" onclick="changeHeaderTab('home')">
                <img height="25px" width="25px" src="\uploads\icons/30.home.png" alt="Home" />
                <span>Home</span>
            </div>
        </a>
        <a href="/home-option-page?type=Depart">
            <div id="depart" onclick="changeHeaderTab('depart')">
                <img height="25px" width="25px" src="\uploads\icons/19.depart.png" alt="depart" />
                <span>Depart</span>
            </div>
        </a>
        <a href="/home-option-page?type=Hostel">
            <div id="hostel" onclick="changeHeaderTab('hostel')">
                <img height="25px" width="25px" src="\uploads\icons/20.hostel.png" alt="hostel" />
                <span>Hostel</span>
            </div>
        </a>
        <a href="/home-option-page?type=Club">
            <div id="club" onclick="changeHeaderTab('club')">
                <img height="25px" width="25px" src="\uploads\icons/21.club.png" alt="club" />
                <span>Clubs</span>
            </div>
        </a>
        <a href="/user/events">
            <div id="event" onclick="changeHeaderTab('event')">
                <img height="25px" width="25px" src="\uploads\icons/22.event.png" alt="event" />
                <span>Events</span>
            </div>
        </a>
    </div>
    <div class="right-div">
        <%if(locals.user){%>
            <%if((locals.user.onModel=='Student' &&
    locals.user.related.head!=null)||(locals.user.onModel!='Student' &&
    locals.user.related.admin!=null)){%>

                <a id="toggleAccountIcon">
                    <div>
                        <abbr title="Toggle B/w admin acc. & user acc.">
          <img
            src="\uploads\icons/23.toggle-account.png"
            style="height: 30px; width: 30px"
          />
        </abbr>
                    </div>
                </a>
                <%}%>
                    <a href="/user/profile?user_id=<%=locals.user.id%>">
                        <div style="max-width: 180px">
                            <img src="<%=locals.user.pic%>" alt="profile" height="25px" width="25px" style="border-radius: 50%" />

                            <span class="header-user-name" style="
            word-break: break-all;
            word-wrap: break-word;
            text-align: center;
          "><%=locals.user.name%></span
        >
      </div>
    </a>
    <a href="/user/sign-out">
      <div style="height: 40px; justify-content: flex-end">
        <span style="color: rgb(189, 91, 124)">Log out</span>
                        </div>
                    </a>
                    <%}else{%>
                        <a href="/sign-in">
                            <div style="height: 40px; justify-content: flex-end">
                                <span style="color: hsl(113, 100%, 50%) !important">Log In</span>
                            </div>
                        </a>
                        <%}%>
                            <div id="complete-toggle-container" style="display: flex; flex-direction: row">
                                <div class="header-day-night" style="padding-right: 5px; padding-left: 5px">
                                    <img src="\uploads\icons/24.day-night.png" alt="day" height="32px" width="32px" />
                                </div>
                            </div>
    </div>

    <%if(locals.user && locals.user.onModel=='Student'&&
  locals.user.related.head==null){%>
        <div>
            <a onclick="handleActiveCreatorPage('event')" style="position: fixed; right: 2px; top: 2px; cursor: pointer">
                <div>
                    <img height="25px" width="25px" src="\uploads\icons/13.detail.png" alt="detail" />
                </div>
            </a>
        </div>
        <%}%>
</header>
<script>
    function makeAccountToggleContainer() {
        $("body").append(`<div style="min-width:350px;" id="toggle-account-option" class="no_display">
            <a >
                <div style="
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            width: auto;
            padding: 10px;
            padding-right:15px;
            margin: 3px;
              width: 100%;
            justify-content: space-between;
          ">
                    <div style="display: flex; flex-direction: row; align-items: center; ">
                        <img id="account-toggle-image" src="" alt="some" height="50px" width="50px" style="border-radius: 50%" />
                        <span style="
                padding-left: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
              ">
              <span> <%=locals.user ? locals.user.name : 'not define'%> </span>
                        <span style="color: lightcoral; font-size: 12.5"> <%=locals.user ? locals.user.onModel : 'Not define'%> </span>
                        </span>
                    </div>

                    <div style="
              background-color: royalblue;
              height: 20px;
              width: 20px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            ">
                        <span style="
                height: 7px;
                width: 7px;
                background-color: black !important;
                border-radius: 50%;
              "></span>
                    </div>
                </div>
            </a>
        </div>`);
        //fetch toggle user details
        $.ajax({
            type: "GET",
            url: "/user/fetch-toggle-account-details/<%=locals.user ? (locals.user.related.head ? locals.user.related.head : locals.user.related.admin) : null%>",
            success: function(data) {
                // console.log("data is !!!!!!!!!!!!!111111111111111 !!!!!!!! ", data);
                // let imgSrc = data.user.pic.replace(/\\/g, "/");
                console.log("data is %%%%%%%%%%%% ", data);
                $("#account-toggle-image").attr("src", data.user.pic);
                $("#toggle-account-option").append(`<a href="/user/toggle-b/w-accounts">
                <div style="
            display: flex;
            flex-direction: row;
            align-items: center;
            height: auto;
            width: auto;
            padding: 10px;
            padding-right:15px;
            margin: 3px;
              width: 100%;
            justify-content: space-between;
          ">
                    <div style="display: flex; flex-direction: row; align-items: center">
                        <img src="${data.currentImg}" alt="some" height="50px" width="50px" style="border-radius: 50%" />
                          <span style="
                padding-left: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
              ">
              <span> ${data.user.name} </span>
                        <span style="color: lightcoral; font-size: 12.5"> ${data.user.onModel} </span>
                        </span>
                    </div>

                    <div style="
              background-color: transparent;
              height: 17px;
              width: 17px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 1.5px solid white;
              box-sizing: border-box;
            "></div>
                </div>
            </a>`);
            },
            error: function(xhr, err) {
                //  console.log("err in loading details of toggle account");
            },
        });
    }
    <%if(locals.user){%>
    <%if((locals.user.onModel=='Student' &&
  locals.user.related.head!=null)||(locals.user.onModel!='Student' &&
  locals.user.related.admin!=null)){%>
    //console.log("######## $$$$$$$$$ &&&&&&&&&&&&");
    makeAccountToggleContainer();
    <%}%>
    <%}%>
    $(window).click((e) => {
        e.stopPropagation;
        let accountContainer = document.getElementById("toggle-account-option");
        let toggleOptionIcon = document.getElementById("toggleAccountIcon");
        if (
            accountContainer &&
            !$(accountContainer).hasClass("no_display") &&
            !accountContainer.contains(e.target) &&
            (!toggleOptionIcon || !toggleOptionIcon.contains(e.target))
        ) {
            $(accountContainer).addClass("no_display");
        }
    });
    $("#toggleAccountIcon").click((e) => {
        $("#toggle-account-option").toggleClass("no_display");
    });
</script>
<script src="<%=assetPath('js/header.js')%>"></script>

<!-- <script src="/js/ajax_request.js"></script> -->