<link rel="stylesheet" href="/css/header.css" />
<!-- <header>
    <div>
        <img src="" alt="Logo" />
    </div>
    <div id="search-container">
        <form action="/search" method="POST">
            <input type="text" name="name" required placeholder="Search here" />
            <input type="submit" value="s" />
        </form>
    </div>
    <div id="right-div">
        <%if(!locals.user){%>
            <ul>
                <li>
                    <a href="/sign-in ">Sign-In</a>
                </li>
                <li>
                    <a href="/sign-up ">Sign-Up</a>
                </li>
            </ul>
            <%}else{%>

                <ul>
                    <li>
                        <a href="/user/profile?user_id=<%=locals.user.id%>">
          <img src="<%=locals.user.pic%>" alt="profile" />
        </a>
                    </li>
                    <li>
                        <a href="/user/sign-out ">Sign-Out</a>
                    </li>
                </ul>
                <%}%>
    </div>
</header> -->

<header style="z-index: 999999999">
    <div class="left-div">
        <div>
            <img height="40px" width="40px" src="https://www.pngitem.com/pimgs/m/357-3577326_color-ball-logo-hd-png-download.png" alt="logo" />
        </div>
        <!-- <div style="display: flex; flex-direction: column">
            <div style="font-size: 18">chitkara_live</div>
            <div style="font-size: 12">be connected</div>
        </div> -->
        <div>
            <form action="/search" method="POST" id="search-form">
                <input id="search-input" type="text" name="name" required placeholder="Search users" style="background-color: rgb(238, 238, 238)" />
                <input type="submit" value="s" />
            </form>
        </div>
    </div>
    <div class="mid-div">
        <a href="/">
            <div class="current-active" id="home" onclick="changeHeaderTab('home')">
                <img height="25px" width="25px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Home-icon.svg/1200px-Home-icon.svg.png" alt="Home" />
                <span>Home</span>
            </div>
        </a>
        <a href="/home-option-page?type=Depart">
            <div id="depart" onclick="changeHeaderTab('depart')">
                <img height="25px" width="25px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoQKCrRgkQx75ymhbX6_fsVNylg0qdNLX4xpywXzgk5d3bdPuI1S4EqD3ysRzspxfMVfg&usqp=CAU" alt="Home" />
                <span>Depart</span>
            </div>
        </a>
        <a href="/home-option-page?type=Hostel">
            <div id="hostel" onclick="changeHeaderTab('hostel')">
                <img height="25px" width="25px" src="https://www.pinclipart.com/picdir/middle/187-1878120_building-icon-svg-png-icon-free-download-384126.png" alt="Home" />
                <span>Hostel</span>
            </div>
        </a>
        <a href="/home-option-page?type=Club">
            <div id="club" onclick="changeHeaderTab('club')">
                <img height="25px" width="25px" src="https://www.freeiconspng.com/thumbs/group-png/group-of-people-in-a-formation-23.png" alt="Home" />
                <span>Clubs</span>
            </div>
        </a>
        <a href="/user/events">
            <div id="event" onclick="changeHeaderTab('event')">
                <img height="25px" width="25px" src="https://thumbs.dreamstime.com/b/open-microphone-shows-black-glyph-icon-stand-up-comedy-music-competition-karaoke-night-talent-show-fun-event-entertainment-227569201.jpg" alt="Home" />
                <span>Events</span>
            </div>
        </a>
    </div>
    <div class="right-div">
        <%if(locals.user){%>
            <%if((locals.user.onModel=='Student' &&
    locals.user.related.head!=null)||(locals.user.onModel!='Student' &&
    locals.user.related.admin!=null)){%>

                <a href="/user/toggle-b/w-accounts">
                    <div>
                        <abbr title="Toggle B/w admin acc. & user acc.">
          <img
            src="https://img.icons8.com/ios-filled/344/user-group-man-man.png"
            style="height: 30px; width: 30px"
          />
        </abbr>
                    </div>
                </a>
                <%}%>
                    <a href="/user/profile?user_id=<%=locals.user.id%>">
                        <div>
                            <img src="<%=locals.user.pic%>" alt="profile" height="25px" width="25px" style="border-radius: 50%" />

                            <span class="header-user-name"><%=locals.user.name%></span>
                        </div>
                    </a>
                    <a href="/user/sign-out">
                        <div style="height: 40px; justify-content: flex-end">
                            <span style="color: rgb(189, 91, 124)">Log out</span>
                        </div>
                    </a>
                    <%}else{%>
                        <a href="/sign-in">
                            <div style="height: 40px; justify-content: flex-end">
                                <span style="color: greenyellow">Log In</span>
                            </div>
                        </a>
                        <%}%>
                            <div id="complete-toggle-container" style="display: flex; flex-direction: row">
                                <div class="header-day-night" style="padding-right: 5px; padding-left: 5px">
                                    <img src="https://cdn-icons-png.flaticon.com/512/702/702471.png" alt="day" height="32px" width="32px" />
                                </div>
                            </div>
    </div>

    <%if(locals.user && locals.user.onModel=='Student'&&
  locals.user.related.head==null){%>
        <div>
            <a onclick="handleActiveCreatorPage()" style="position: fixed; right: 2px; top: 2px; cursor: pointer">
                <div>
                    <img height="25px" width="25px" src="https://cdn-icons-png.flaticon.com/512/6388/6388826.png" alt="detail" />
                </div>
            </a>
        </div>
        <%}%>
</header>
<script src="/js/header.js"></script>

<!-- <script src="/js/ajax_request.js"></script> -->