<% var url='http://chitkaralive.com';%>
    <div style="
    background-color: rgba(34, 33, 33, 0.842) !important;
    color: white !important;
    font-size: 15px;
    padding: 10px;
  ">
        <%-include('../mail_header');-%>
            <h4 style="color: rgb(0, 225, 255)">Dear,
                <%=targetName%>,</h4>
            <br />
            <h3 style="text-align: center; margin-top: 0px">
                You are deleted from <span style="color: aqua">Team Member</span> by
            </h3>
            <br />
            <div>
                <img src="<%=url%><%=data.pic%>" alt="pic" height="40px" width="40px" />
                <span style="color: aqua"><%=data.name%> (<%=data.onModel%>)</span>
                <br />
                <br />
                <sub>Link of <%=data.name%> Profile is given below !</sub>
            </div>
            <div>
                Profile Link :
                <a style="margin-left: 5px" href="<%=url%>/user/profile?user_id=<%=data._id%>">
                    <%=url%>/user/profile?user_id=
                        <%=data._id%>
                </a>
            </div>
            <%-include('../mail_footer');-%>
    </div>