<html>

<head>
    <title>
        <%=locals.title%>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale:1, height:device-height" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="CU, cu , chitkara , chitkara_live, chitkara live , cu live , cu_live , chalkpad , chitkara chalkpad , college management system login, college management system " />
    <meta name="description" value="a communication platform for chitkara student" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <style>
        body {
            background-color: rgb(245, 245, 245);
            margin: 0px;
            padding: 0px;
            scroll-behavior: smooth;
        }
        
        .darkMode {
            background-color: rgb(15, 15, 15);
            color: white;
        }
        
        #page-outline {
            position: relative;
            padding: 85px 10px 150px 10px;
            width: 100%;
            margin: auto;
            box-sizing: border-box;
        }
        /* .success_notification {
            background-color: rgba(255, 99, 71, 0.678);
            color: tomato;
            background-color: rgb(174, 248, 174);
            border: 0.6px solid rgba(79, 201, 79, 0.5);
            color: rgb(0, 100, 0);
            width: 94%;
            left: 100%;
            margin-bottom: 5px;
            font-size: 17;
            font-weight: 500;
            height: auto;
            transition: all 0.22s ease-out;
            overflow: hidden;
            word-wrap: break-word;
            position: relative;
            top: 0px;
            padding: 8px;
            box-sizing: border-box;
        }
        
        .error_notification {} */
    </style>
    <%- style %>
        <link rel="stylesheet" href="<%=assetPath('css/notifications.css')%>" />
        <link rel="stylesheet" href="<%=assetPath('css/option-page.css')%>" />
        <link rel="stylesheet" href="<%=assetPath('css/home_layout.css')%>" />
</head>

<body>
    <div id="notifications"></div>
    <%-include('../partials/_header');-%>

        <div id="page-outline">
            <div id="request-new-creator-account-container" style="height: auto; padding-bottom: 2px" class="no_display">
                <div style="margin: auto">
                    <h2 style="text-align: center">Request For New Creator Account</h2>
                </div>
                <div id="form-container">
                    <form id="new-creator-request-form" action="/user/new-creator-account-request" method="POST">
                        <input class="main-input" placeholder="Email *" type="email" name="email" required />
                        <input class="main-input" type="text" name="name" placeholder="Name *" required />
                        <div id="button-input-div">
                            <%if(locals.user){%>
                                <input type="hidden" name="userId" required value="<%=locals.user.id%>" />
                                <%}%>
                                    <input type="radio" name="type" value="Club" checked />
                                    <span>Club</span>

                                    <input type="radio" name="type" value="Hostel" />
                                    <span>Hostel</span>
                                    <input type="radio" name="type" value="Depart" />
                                    <span>Depart</span>
                        </div>
                        <button>Submit</button>
                    </form>
                </div>
                <div style="text-align: center; margin-top: 2px">
                    <img onclick="disappearCreatorRequestPage()" src="/uploads/icons/42.cut-icon.png" style="
              margin: auto;
              cursor: pointer;
              height: 40px;
              width: 40px;
              background-color: inherit;
            " alt="close" />
                </div>
            </div>
            <%-body-%>
        </div>

        <%- script %>

            <script src="<%=assetPath('js/login.js')%>"></script>
            <script src="<%=assetPath('js/option_page.js')%>"></script>
</body>

</html>

<script src="<%=assetPath('js/home_layout.js')%>"></script>
<script src="<%=assetPath('js/ajax_request.js')%>"></script>

<script>
    // let cookies = {};

    // async function getCookieValueByName() {
    //     await document.cookie.split(';').forEach((nameValuePair) => {
    //         let [name, val] = nameValuePair.split("=");
    //         cookies[name.trim()] = val.trim();
    //     });
    // }
    // getCookieValueByName();
    // //handle the dark mode using cookie
    // let darkModeStatus = false;
    // if (cookies['darkModeStatus'] && cookies['darkModeStatus'] == 'true') {
    //     darkModeStatus = true;
    // }

    // console.log("local is ^^^^^^^^^^^^^ ", vt);
    <%if(flash.success&&flash.success.length>0){%>
    // new Noty({
    //     theme: 'relax',
    //     text: "<%=flash.success%>",
    //     type: 'success',
    //     layout: 'topRight',
    //     timeout: 1500,
    // }).show();
    handleNotification('success', '<%=flash.success%>');
    <%}%>
    <%if(flash.error&&flash.error.length>0){%>
    // new Noty({
    //     theme: 'relax',
    //     text: "<%=flash.error%>",
    //     type: 'error',
    //     layout: 'topRight',
    //     timeout: 1500,
    // }).show();
    handleNotification('error', '<%=flash.error%>');
    <%}%>

    //set notification top value bcz at time of reached here header is created already
    $('#notifications').css({
        top: $('header').css('height'),
    });
</script>