<html>

<head>
    <title>
        <%=locals.title%>
    </title>

    <style>
        body {
            background-color: rgb(245, 245, 245);
            margin: 0px;
            padding: 0px;
        }
        
        #page-outline {
            position: relative;
            padding: 85px 10px 150px 10px;
            width: 100%;
            margin: auto;
        }
    </style>
    <%- style %>
</head>

<body>
    <%-include('../partials/_header');-%>
        <div id="page-outline">
            <%-body-%>
        </div>

        <%- script %>
</body>

</html>