<html>

<head>
    <title>
        <%=locals.title%>
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            margin: 0px;
        }
    </style>
    <%- style %>
</head>

<body>
    <%-include('../organiser/partials/_header');-%>
        <%-body-%>
            <%- script %>
</body>

</html>