<html>

<head>
    <link rel="icon" type="image/x-icon" href="uploads/icons/18.logo.png" style="background-color: inherit; height: 90px; width: 90px" />

    <meta name="viewport" content="width=device-width,initial-scale:1,height:device-height" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="CU, cu ,chitkara live ,chitkara live home, chitkara , chitkara_live, chitkara live , cu live , cu_live , chalkpad , chitkara chalkpad , college management system login, college management system " />
    <meta name="description" value="a communication platform for chitkara student" />

    <title>
        <%=locals.title%>
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            margin: 0px;
        }
    </style>
    <%- style %>
</head>

<body>
    <%-include('../organiser/partials/_header');-%>
        <%-body-%>
            <%- script %>
</body>

</html>