<html>

<head>
    <title>
        <%=locals.title%>
    </title>
    <%- style %>
</head>

<body>
    <h1>
        <%=locals.title%>
    </h1>
    <%-body-%>
        <%-include('../partials/_footer');-%>
            <%- script %>
</body>

</html>