<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3534721178469552" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="http://chitkaralive.com/uploads/icons/cl_logo.jpg" style="background-color: inherit; height: 150px; width: 150px" />

    <meta name="viewport" content="width=device-width,initial-scale:1,height:device-height" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="CU, cu , chitkara , chitkara_live, chitkara live , cu live , cu_live , chalkpad , chitkara chalkpad , college management system login, college management system " />
    <meta name="description" value="a communication platform for chitkara student" />

    <title>
        <%=locals.title%>
    </title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" /> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <%- style %>
        <link rel="stylesheet" href="<%=assetPath('css/notifications.css')%>" />
        <link rel="stylesheet" href="<%=assetPath('css/home_layout.css')%>" />
</head>

<body>
    <!-- <h1>
        <%=locals.title%>
    </h1> -->

    <%-body-%>
        <div id="notifications" style="top: 10px; z-index: 9999999 !important"></div>

        <%- script %>
            <script src="<%=assetPath('js/ajax_request.js')%>"></script>
            <script>
                // <%if(flash.success&&flash.success.length>0){%>
                // new Noty({
                //     theme: 'relax',
                //     text: "<%=flash.success%>",
                //     type: 'success',
                //     layout: 'topRight',
                //     timeout: 1500,
                // }).show();
                // <%}%>
                // <%if(flash.error&&flash.error.length>0){%>
                // new Noty({
                //     theme: 'relax',
                //     text: "<%=flash.error%>",
                //     type: 'error',
                //     layout: 'topRight',
                //     timeout: 1500,
                // }).show();
                // <%}%>
                <%if(flash.success&&flash.success.length>0){%>
                // new Noty({
                //     theme: 'relax',
                //     text: "<%=flash.success%>",
                //     type: 'success',
                //     layout: 'topRight',
                //     timeout: 1500,
                // }).show();
                handleNotification('success', '<%=flash.success%>');
                <%}%>
                <%if(flash.error&&flash.error.length>0){%>
                // new Noty({
                //     theme: 'relax',
                //     text: "<%=flash.error%>",
                //     type: 'error',
                //     layout: 'topRight',
                //     timeout: 1500,
                // }).show();
                handleNotification('error', '<%=flash.error%>');
                <%}%>
            </script>
</body>

</html>