<link rel="stylesheet" href="<%=assetPath('css/comment.css')%>" />
<div class="comment-container" id="comment-<%=post.id%>">
    <div class="comment-head" id="comment-head-<%=post.id%>">
        <%=post.comments.length%> Comments
    </div>
    <div class="comments" id="all-comment-<%=post.id%>"></div>
</div>