<link rel="stylesheet" href="<%=assetPath('css/new_post.css')%>" />
<style>
    input {
        border: none;
        border-bottom: 1.7px solid black;
        outline: none;
        font-size: medium;
    }
</style>
<div id="update-profile">
    <div id="img-container">
        <img src="<%=locals.user.pic%>" alt="" height="65px" width="65px" style="border-radius: 50%" />
    </div>
    <h3>Edit Profile Page</h3>
    <div>
        <form action="/user/update" enctype="multipart/form-data" method="POST">
            <input type="file" name="avatar" style="border: none" id="file-input" placeholder="New Profile" />
            <div id="preview"></div>
            <div id="error-div" style="text-align: center; padding: 5px; margin: auto"></div>
            <input type="text" name="name" placeholder="Type name" value="<%=locals.user.name%>" />
            <input type="text" name="bio" placeholder="Type Bio" value="<%=locals.user.bio%>" />
            <div>
                <abbr title="put your Whatsapp no "><img
            src="/uploads/icons/38.whatsapp.png"
            height="20px"
            width="20px"
            alt=""
        /></abbr>
                <input type="text" name="whatsapp" placeholder="Type Whatsapp No" value="<%=locals.user.whatsapp%>" />
            </div>
            <div>
                <abbr title="put your mobile no "><img
            src="/uploads/icons/12.call_icon.png"
            height="20px"
            width="20px"
            alt=""
        /></abbr>
                <input type="text" name="mobile" placeholder="Type Mobile No" value="<%=locals.user.mobile%>" />
            </div>
            <div style="
          background-color: transparent;
          width: 100%;
          min-width: 100%;
          padding: 10px;
          margin: 0px;
          box-sizing: border-box;
          display: block;
          text-align: right;
        ">
                <button>Save</button>
            </div>
        </form>
    </div>
</div>

<script src="<%=assetPath('js/edit_profile.js')%>"></script>