<link rel="stylesheet" href="<%=assetPath('css/event-page.css')%>" />
<link rel="stylesheet" href="<%=assetPath('css/post.css')%>" />
<div id="main-container">
    <div id="events-container">
        <div id="events-head">
            <div class="head-tab active-tab" id="upcoming-tab" onclick="changeTab('upcoming')">
                Running & Upcoming Event
            </div>
            <div class="head-tab" id="passed-tab" onclick="changeTab('passed')">
                Passed Event
            </div>
        </div>
    </div>

    <div id="upcoming">
        <div id="post-container" class="upcoming-post-container"></div>
        <button time="<%=Date.now()%>" type="upcoming" class="load-event load-on-demand">
      Load Upcoming events
    </button>
    </div>
    <div id="passed">
        <div id="post-container" class="passed-post-container"></div>
        <button time="<%=Date.now()%>" type="passed" class="load-event load-on-demand">
      Load passed events
    </button>
    </div>
</div>
<script src="<%=assetPath('js/post.js')%>"></script>
<script src="<%=assetPath('js/events.js')%>"></script>
<!-- <script src="/js/home.js"></script>
<script src="/js/post.js"></script> -->