<link rel="stylesheet" href="<%=assetPath('css/home_option_page.css')%>" />
<%if(users.length==0){%>
    <div class="page-content-box">
        <div style="margin: auto; font-size: 35px; width: fit-content; margin-top: 50px">
            No
            <%=type%> Registered
        </div>
    </div>
    <%}%>
        <%if(users.length!=0){%>
            <div id="page-content-container">
                <%for(let u of users){%>
                    <a href="/user/profile?user_id=<%=u.id%>">
                        <div class="page-content-box">
                            <div>
                                <img height="100px" width="100px" src="<%=u.pic%>" alt="" />
                            </div>
                            <div class="page-content">
                                <div style="
            padding: 4px;
            font-size: 18;
            font-weight: 750;
            word-spacing: 2px;
            letter-spacing: 1px;
            font-family: monospace;
            text-transform: uppercase;
          ">
                                    <%=u.name%>
                                </div>
                                <div style="padding: 4px; font-size: 17">
                                    <%=u.bio%>
                                </div>
                            </div>
                        </div>
                    </a>
                    <%}%>
            </div>
            <%}%>