<link rel="stylesheet" href="/css/home_option_page.css" />
<div id="page-content-container">
    <%if(users.length==0){%>
        <div class="page-content-box">
            <div style="text-align: center; padding: 15px; color: rgb(214, 105, 105)">
                No
                <%=type%> Registered
            </div>
        </div>
        <%}else{%>
            <%for(let user of users){%>
                <a href="/user/profile?user_id=<%=locals.user.id%>">
                    <div class="page-content-box">
                        <div>
                            <img height="100px" width="100px" src="<%=user.pic%>" alt="" />
                        </div>
                        <div class="page-content">
                            <div style="
            padding: 4px;
            font-size: 18;
            font-weight: 750;
            word-spacing: 2px;
            letter-spacing: 1px;
            font-family: monospace;
            text-transform: uppercase;
          ">
                                <%=user.name%>
                            </div>
                            <div style="padding: 4px; font-size: 17">
                                <%=user.bio%>
                            </div>
                        </div>
                    </div>
                </a>
                <%}%>
                    <%}%>
</div>