<link rel="stylesheet" href="/css/likes-page.css" />

<div id="likes-page">
    <div style="
      justify-content: flex-start;
      align-items: flex-end;
      position: relative;
    ">
        <a href="/" style="text-decoration: none; color: black">
            <%if(post.photos){%>
                <img src="<%=post.photos[0]%>" alt="photo" height="100px" width="80px" />
                <%}else{%>
                    <div style="
          word-wrap: break-word;
          overflow: auto;
          height: 100px;
          width: 80px;

          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        ">
                        <%=post.content%>
                    </div>
                    <%}%>
        </a>
        <%if(post.photos && post.photos.length>1){%>
            <span style="
        padding: 1px 2px 1px 2px;
        border-radius: 25px;
        background-color: #413f3fc9;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
      ">1/<%=post.photos.length%></span
    >
    <%}%>
    <span style="padding-left: 5px; color: black"><%=post.caption%></span>
    </div>

    <h1 style="margin-bottom: 0px">
        <%=post.likes.length%> Likes</h1>
    <%if(post.likes.length==0){%>

        <div style="color: rgb(59, 58, 58); justify-content: center; margin: 15px">
            No Likes
        </div>
        <%}else{%>
            <%for(var like of post.likes){%>
                <div class="like-by">
                    <%if(like.creator){%>
                        <a class="liked-user-link" href="/user/profile?user_id=<%=like.creator.id%>" style="text-decoration: none">
                            <div>
                                <div>
                                    <img src="<%=like.creator.pic%>" alt="image" height="50px" width="50px" style="border-radius: 50%" />
                                </div>
                                <div>
                                    <span><%=like.creator.name%> </span>
                                    <span style="font-size: 14; color: rgb(129, 121, 121)"><%=like.creator.onModel%></span
          >
        </div>
      </div>
    </a>
    <div>
      <%if(locals.user&&((locals.user.onModel=='Student' &&
      like.creator.onModel!='Student')||(locals.user.onModel!='Student' &&
      like.creator.onModel=='Student'))){%>
      <%if(locals.user.related.members.includes(like.creator.id)){%>
      <a
        class="request-link"
        href="/user/remove-membership?target=<%=like.creator.id%>"
        ><button>Remove</button></a
      >
      <%} else if(locals.user.related.sendRequest.includes(like.creator.id)){%>

      <a
        class="request-link"
        href="/user/withdraw-request?target=<%=like.creator.id%>"
        ><button>Withdraw</button></a
      >

      <%}else if(locals.user.related.comingRequest.includes(like.creator.id)){%>

      <a
        class="request-link"
        href="/user/accept-request?target=<%=like.creator.id%>"
        ><button>Accept</button></a
      >
      <a
        class="request-link"
        href="/user/ignore-request?target=<%=like.creator.id%>"
        ><button>Ignore</button></a
      >
      <%}else{%>
      <a
        class="request-link"
        href="/user/send-request?target=<%=like.creator.id%>"
        ><button>Connect</button></a
      >
      <%}%> <%}%>
    </div>
    <%}%>
  </div>
  <%}%> <%}%>
</div>