<link rel="stylesheet" href="/css/likes-page.css" />

<div id="likes-page">
    <div style="
      justify-content: flex-start !important;
      align-items: flex-end !important;
      position: relative;
    ">
        <!-- <%var postId = post.id;%> -->
        <a href="/" style="text-decoration: none; color: black">
            <%if(post.photos){%>
                <img src="<%=post.photos[0]%>" alt="photo" height="100px" width="80px" />
                <%}else{%>
                    <div style="
          word-wrap: break-word;
          overflow: auto;
          height: 100px;
          width: 80px;

          box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
        ">
                        <%=post.content%>
                    </div>
                    <%}%>
        </a>
        <%if(post.photos && post.photos.length>1){%>
            <span style="
        padding: 1px 2px 1px 2px;
        border-radius: 25px;
        background-color: #413f3fc9;
        color: white;
        position: absolute;
        top: 10px;
        left: 10px;
      ">1/<%=post.photos.length%></span
    >
    <%}%>
    <span style="padding-left: 5px; color: black"><%=post.caption%></span>
    </div>

    <h1 style="margin-bottom: 0px">
        <%=post.likes.length%> Likes</h1>
    <%if(post.likes.length==0){%>

        <div style="color: rgb(59, 58, 58); justify-content: center; margin: 15px">
            No Likes
        </div>
        <%}%>
</div>

<script>
    function loadMoreLikeButton(lastTime, postId) {
        console.log(" time is ", lastTime);
        return $(
            `<button class='load-like load-on-demand' postId=${postId}  time=${lastTime} >Load More Likes</button>`
        );
    }

    function intialLoadLikeButton() {
        let type = 'Post';
        <%if(!post.photos){%>
        type = 'TextPost';
        <%}%>
        let postId = '<%-post.id%>';


        // console.log("type is ####################### ",type," post is ",postId);
        let loadMoreLikeBtn = loadMoreLikeButton(Date.now(), postId);
        // $('.like-container').append(loadMoreLikeBtn);
        $('#likes-page').append(loadMoreLikeBtn);
        //no need to
        // addMoreLikes(loadMoreLikeBtn);
    }
    intialLoadLikeButton();
</script>