<link rel="stylesheet" href="<%=assetPath('css/mess.css')%>" />
<div id="mess-container">
    <div id="menu-header" style="
      background-color: rgb(49, 247, 49);
      width: 100%;
      min-height: 170px;
      height: auto;
      color: white;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    ">
        <div style="
        box-sizing: border-box;
        width: 100%;
        height: 90px;
        word-wrap: break-word;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: space-around;
      " id="head-info">
            <div style="
          width: 57%;
          /* background-color: red; */
          box-sizing: border-box;
          padding: 20px 20px 10px 60px;
          word-wrap: break-word;
          font-size: 23;
          font-weight: 900;
          text-transform: capitalize;
          color: black;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
        ">
                <%=_user.name%> Hostel chitkara university himachal pradesh
            </div>
            <div style="
          width: 43%;
          /* background-color: yellow; */
          box-sizing: border-box;
          padding: 20px 20px 0px 20px;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          word-wrap: break-word;
          font-size: 55;
          font-weight: 900;
        ">
                MENU
            </div>
        </div>
        <div style="
        padding: 15px 60px 15px 60px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        word-wrap: break-word;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: space-between;
        justify-content: space-between;
      " id="head-option">
            <span onclick="menuTabChange(event,'0')" class="menu-options active-menu-tab">
        breakfast
      </span>
            <span onclick=" menuTabChange(event, '1') " class="menu-options">
        Lunch
      </span>
            <span onclick="menuTabChange(event, '2') " class="menu-options">
        snacks
      </span>
            <span onclick="menuTabChange(event, '3') " class="menu-options">
        dinner
      </span>
        </div>
    </div>
    <%for(let i=0;i<7;i++){%>
        <%for(let j=0;j<4;j++){%>
            <div class="day-menu type-<%=j%>" day="<%=i%>" time="<%=j%>" style="
      /* height: 175px; */
      height: auto;
      background-color: white;
      width: inherit;
      display: flex;
      overflow: hidden;
      flex-direction: row;
      color: rgb(4, 253, 4);
      position: relative;
    ">
                <%if(_user.id==locals.user.id){%>

                    <div class="day-menu-edit-option">
                        <span onClick="handleEditMenuOption(event)" link="/creator/update-menu?day=<%=i%>&time=<%=j%>" id="<%=i%>*4+<%=j%>">&vellip;</span
      >
    </div>
    <%}%>

    <div
      style="
        width: 57%;
        height: inherit;
        /* background-color: violet; */
        display: flex;
        flex-direction: row;
      "
    >
      <div
        class="day-name"
        id="day-<%=i%>-type-<%=j%>"
        style="
          width: 25%;
          /* background-color: violet; */
          padding: 5px;
          box-sizing: border-box;
          height: inherit;
          writing-mode: vertical-lr;
          transform: rotate(180deg);
          font-size: 25;
          font-weight: 900;

          text-align: center;
          text-transform: uppercase;
          overflow: hidden;
          color: black;
        "
      >
        Sunday
      </div>
      <div
        id="content-<%=i%>-type-<%=j%>"
        style="
          width: 75%;
          max-width: 75%;
          display: inline-block;
          /* background-color: tomato; */
          padding: 20px;
          box-sizing: border-box;
          height: inherit;
          overflow: hidden;
          word-wrap: break-word;
          font-size: 20;
          letter-spacing: unset;
          text-transform: capitalize;
        "
      >
        <%=_user.related.menu.dayWise[i].timeFood[j].items%>
      </div>
    </div>
    <div
      id="photo-<%=i%>-type-<%=j%>"
      style="
        width: 43%;
        max-width: 43%;
        overflow: hidden;
        padding: 20px;
        box-sizing: border-box;
        height: inherit;
        /* background-color: yellow; */
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 0px;
      "
    >
      <img
        style="
          background-color: transparent;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        "
        src="<%=_user.related.menu.dayWise[i].timeFood[j].image%>"
        alt=""
        height="140px"
        width="150px"
      />
    </div>
  </div>
  <%}%> <%}%>
</div>

<script>
  var weekDays = [
    "monday",
    "tuesday",
    "wednesday",
    "thursday",
    "friday",
    "saturday",
    "sunday",
  ];
  document.querySelectorAll(".day-menu").forEach((item) => {
    var day = parseInt(item.getAttribute("day"));
    var time = parseInt(item.getAttribute("time"));
    if (day % 2 != 0) {
      item.style.flexDirection = "row-reverse";
      item.style.backgroundColor = "rgb(4, 253, 4,0.564)";
      item.style.color = "white";
    }
    if (time != 0) {
      item.style.display = "none";
    }
    document.getElementById("day-" + day + "-type-" + time).innerText =
      weekDays[day];
    const content = document.getElementById(
      "content-" + day + "-type-" + time
    ).innerText;
    document.getElementById("content-" + day + "-type-" + time).innerHTML =
      content.replace(/,/g, " </br> ");
  });

  function menuTabChange(event, type) {
    document.querySelectorAll(".active-menu-tab").forEach((item) => {
      item.className = item.className.replace(" active-menu-tab", "");
    });
    event.target.className += " active-menu-tab";
    document.querySelectorAll(".day-menu").forEach((item) => {
      let time = item.getAttribute("time");
      if (time + "" == type + "") {
        item.style.display = "flex";
      } else {
        item.style.display = "none";
      }
    });
  }
  function handleEditMenuOption(event) {
    let classs = "toUpdate";
    //console.log("event.target is ");
    let ele = event.target;

    let id = eval(ele.getAttribute("id"));
    //console.log("id is *************** ", id);

    let D = document.createElement("div");
    D.id = classs + "-" + id;
    D.className = classs;
    D.className += " clickDisappear";

    let addr = ele.getAttribute("link");
    var link = document.createElement("a");
    link.innerText = "Update";
    link.href = addr;
    D.appendChild(link);

    // // //console.log("D is &&&&&&&&&&&&&&&&&&&&&&& ", D);
    // //console.log("mrfn  ", document.getElementsByClassName("day-menu"));
    document.getElementsByClassName("day-menu")[id].appendChild(D);
  }
  //click on t=other place disappear logic is
  //to all it added to home layout
</script>