<link rel="stylesheet" href="<%=assetPath('css/save_items.css')%>" />
<div id="my-save-items">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3534721178469552" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3534721178469552" crossorigin="anonymous"></script>
    <!-- chitkara live ads -->
    <ins class="adsbygoogle" style="display: block" data-ad-client="ca-pub-3534721178469552" data-ad-slot="7340602651" data-ad-format="auto" data-full-width-responsive="true"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <div id="save-item-headers">
        <div id="img-container">
            <img height="65px" width="65px" style="border-radius: 50%" src="<%=locals.user.pic%>" alt="profile pic" />
        </div>
        <div id="heading">My Save Items</div>
    </div>
    <div id="save-item-container">
        <%if(saveItems.length==0){%>
            <div class="class-item" style="text-align: center; font-size: 18">
                No save item found
            </div>
            <%}%>
                <%for(let item of saveItems){%>
                    <%if(item.refItem){%>

                        <a href="/user/my-save-items-details?target=<%=item.refItem.id%>">
                            <div class="save-item">
                                <%if(item.refItem.photos){%>
                                    <img src="<%=item.refItem.photos[0]%>" height="150px" width="100px" alt="image-pic" />
                                    <%}else {%>
                                        <%=item.refItem.content%>
                                            <%}%>
                            </div>
                        </a>
                        <%}%>
                            <%}%>
    </div>
</div>