<!-- we will add script and styling not here but from layout page -->

<!-- <div id="search-tags">
    <div>
        <div>
            <span>All</span>
        </div>
        <div>
            <span>Hostel</span>
        </div>
        <div>
            <span>Club</span>
        </div>
        <div>
            <span>Depart</span>
        </div>
        <div>
            <span>Student</span>
        </div>
    </div>
</div> -->
<div id="option-page">
    <div id="option-header">
        <span class="All active-search-tab" onclick="showOption('All',event)">All</span
    >
    <span class="Student" onclick="showOption('Student',event)">Student</span>
        <span class="Club" onclick="showOption('Club',event)">Club</span>
        <span class="Depart" onclick="showOption('Depart',event)">Depart</span>
        <span class="Hostel" onclick="showOption('Hostel',event)">Hostel</span>
    </div>

    <div id="empty-div">No user Found</div>
    <!-- <div id="empty-div">vnfbv</div>
    <div id="empty-div">jvfhvjfn</div> -->
    <main id="search-user-result-main">
        <%for(let option of options){%>
            <a href="/user/profile?user_id=<%=option.id%>" type="<%=option.onModel%>" class="link search-result <%=option.onModel%>-result">
                <div class="option">
                    <div><img src="<%=option.pic%>" alt="Logo" /></div>
                    <div class="right-div">
                        <div>
                            <%=option.name%>
                        </div>
                        <div style="font-size: 11">
                            <%=option.onModel%>
                        </div>
                        <div style="font-size: 11">
                            <!-- <%=option.email%> -->
                            cdbghcvdvdchbbdcbcdbchdvhgcvdgvcdhgvcvdvgdg
                        </div>

                        <div style="font-size: 11">
                            <%=option.bio%>
                        </div>
                    </div>
                </div>
            </a>

            <%}%>
    </main>
</div>
<!-- we will add script and styling not here but from layout page -->