<link rel="stylesheet" href="<%=assetPath('css/post.css')%>" />
<div id="post-container">
    <%var count=0;%>
        <%for(let post of posts){%>
            <div class="post-class post-some-<%=post.id%>" id="post-<%=count%>">
                <div class="post-header">
                    <a class="post-creator-link" href="/user/profile?user_id=<%=post.creator.id%>" style="text-decoration: none;">
                        <div>
                            <img src="<%=post.creator.pic%>" alt="creator" />
                            <div>
                                <span><%=post.creator.name%></span>
                                <span style="font-size: 12; color: lightslategray;padding-left: 5px;"><%=post.creator.onModel%></span
          >
        </div>
      </div>
                </a>
                 <%if(locals.user && post.creator.id==locals.user.id){%>
                <div class="post-edit-option">
                
        <span
        onClick="handleEditPostOption(event)"
        link="/creator/delete-post?post=<%=post.id%>&type=<%= post.photos ? 'Post' : 'TextPost'%>"
        id="<%=count%>"
        >&vellip;</span
      >
      </div>
      <%}%>
    </div>
       <%if(post.eventStartTime){%>
    <div class="type-detail" targetId="<%=post.id%>-event" start="<%=post.eventStartTime%>" end="<%=post.eventEndTime%>" location="<%=post.venu%>" postId="<%=post.id%>">
        <div>  <img height="25px" width="25px"src="/uploads/icons/31.upcoming-event.png" alt="">
      </div>
                            <abbr title="See/Hide Event Detail" >  <img height="25px" width="25px" src="/uploads/icons/13.detail.png" alt="detail">
</abbr>

                            </div>

                            <%}%>

                                <div style="padding: 5px; margin: 5px; ">
                                    <span style="font-size: 15;"><%=post.caption%></span>
                            </div>
                            <%if(post.photos){%>
                                <div class="post-main-section" postId="<%=post.id%>">

                                    <div id="displayCount-post-<%=post.id%>">
                                        1/
                                        <%=post.photos.length%>
                                    </div>

                                    <span class="button back" type="back" id="post-<%=post.id%>">&#10094</span>
                                    <span class="button next" type="next" id="post-<%=post.id%>">&#10095</span>

                                    <%var i=0;%>
                                        <%for(let photo of post.photos){%>
                                            <img src="<%=photo%>" alt="post-pic" class="post-<%=post.id%> post" current_no="<%=i%>" max_no="<%=post.photos.length%>" />
                                            <%i=i+1;%>
                                                <%}%>



                                </div>
                                <%}%>
                                    <% if(!post.photos){%>
                                        <div class="main-text-section" postId="<%=post.id%>">
                                            <%=post.content%>
                                        </div>
                                        <%}%>
                                            <div class="post-footer">
                                                <span>
                <a class="post-like-toggle" postId="<%=post.id%>" href="/user/toggle-like?id=<%=post.id%>&type=<%=post.photos ? 'Post' : 'TextPost'%>">
                                 <span id="toggle-post-like-span-<%=post.id%>">
                                  <%var existLike=false;%>
                                  <%if(locals.user){%>
                                     <%for(lik of post.likes){%>
                                        <%if(lik.creator.id==locals.user.id){%>
                                           
                                            <%  existLike=true;%>
                                            <% break %>
                                            <%}%>
                                        
                                        <%}%>
                              <%}%>
                                   
                                    <%if(existLike){%>
                                     <img height="25px" width="25px" src="/uploads/icons/3.liked.png" alt="like" />
     <%}else{%>
        <img src="/uploads/icons/4.not_liked.png" height="25px" width="25px" alt="">
        <%}%>
                                    </span>
                    </a>

                    <span id="post-like-count-<%=post.id%>"><%=post.likes.length%> likes</span>


                    </span>
                    <span class="comment-button" style="text-align: center"><span onclick="toggleComment('<%= post.id %>')" >
          <img
            src="/uploads/icons/5.comment_toggle.png"
            alt="comment"
            height="25px"
            width="25px"
          /> </span
        ><span id="comment-length-<%=post.id%>"><%=post.comments.length%> comments</span></span>

                    <span class="save-toggle-span" id="save-toggle-<%=post.id%>">
                        <%var isSave=false;%>
                                  <%if(locals.user){%>
                                     <%for(itm of locals.user.saveItems){%>
                                     
                                        <%if(post.id==itm.refItem){%>
                                           
                                            <%  isSave=true;%>
                                            <% break %>
                                            <%}%>
                                        
                                        <%}%>
                              <%}%>
                              <a class="save-toggle-link" id="save-toggle-link-<%=post.id%>" href="/user/toggle-to-save?refId=<%=post.id%>&type=<%=post.photos ? 'Post' : 'TextPost'%>"> 
                            <%if(isSave){%> 
                                 <img
          src="/uploads/icons/33.saved.png"
          height="25px"
          width="20px"
          alt=""
      />  <%}else{%> <img
          src="/uploads/icons/34.not-saved.png"
          height="25px"
          width="20px"
          alt=""
      /> <%}%></a>         
             </span>

                    </div>


                    <div class="likes-detail" id="likes-detail-<%=post.id%>">
                        <%if(post.likes.length>0){%>
                            <div class="first-div"><span style="color: black;"><%=post.likes.length%> people are liked this post</span> <span><a href="/user/likes?post=<%=post.id%>&type=<%=post.photos ? 'Post' : 'TextPost'%>">View All</a></span></div>
                            <div>
                                <%for(let i=0; i< 7 &&  i< post.likes.length; i++ ){%>
                                    <%if(post.likes[i].creator){%>
                                        <img src="<%=post.likes[i].creator.pic%>" alt="pic" height="40px" width="40px" style="border-radius: 50%; min-width: 40px; min-height: 40px; padding:0px 7px 0px 7px;">
                                        <%}%>
                                            <%}%>
                            </div>
                            <%}%>
                    </div>

                    <div class="new-comment">
                        <%if(locals.user){%>
                            <img src="<%=locals.user.pic%>" alt="pic" height="35px" width="35px" style="border-radius: 50%" />
                            <%}%>
                                <form action="/user/add-comment" method="POST" class='some'>
                                    <input type="text" name="comment" required placeholder="Type Your Comment" id="comment-input" />
                                    <input type="hidden" name="postId" value="<%=post.id%>">
                                    <input type="hidden" name="type" value="<%=post.photos ? 'Post' : 'TextPost'%>">

                                    <button style="cursor: pointer;">
          <img
            height="20px"
            width="35px"
            src="/uploads/icons/7.send-message.webp"
            alt=""
          />
        </button>
                                </form>
                    </div>

                    <div style="width: 100%; position: absolute; bottom: 0px; display: flex;flex-flow: row-reverse; color:royalblue; font-size: 13;" createdTime="<%=post.createdAt%>" class="created-time">Post created date & time</div>

                    </div>
                    <%-include('comments',{post:post});-%>
                        <%count=count+1;%>
                            <%}%>
                </div>

                <script src="/js/post.js"></script>
                <script>
                    // add button to load more post

                    function loadMorePostButton(lastPhotoTime, lastTextTime, photo, text) {
                        // //console.log(" time is ", lastTime);
                        return $(
                            `<button class='load-post load-on-demand' photo=${photo} text=${text} photoTime=${lastPhotoTime} textTime=${lastTextTime} >Load More Post</button>`
                        );
                    }
                    async function intialPostLoadButton() {
                        let loadMorePostbtn = loadMorePostButton(Date.now(), Date.now(), true, true);
                        await $("#post-container").append(loadMorePostbtn);
                        // loadMorePost(loadMorePostbtn);
                        // handleLoadingPostVisiblity(loadMorePostbtn);
                    }
                    <%if(loadMorePost==true){%>
                    //console.log("fjbbdc$$$$$$$$$$  $$$$$$$$$$$$ ", '<%=loadMorePost%>')
                    intialPostLoadButton();
                    <%}%>
                </script>