<link rel="stylesheet" href="<%=assetPath('css/new_post.css')%>" />
<link rel="stylesheet" href="<%=assetPath('css/option-page.css')%>" />
<div id="new-post" style="width: 40%; min-width: 500px">
    <div id="img-container">
        <img src="<%=locals.user.pic%>" alt="" height="65px" width="65px" style="border-radius: 50%" />
    </div>
    <h3>Select New Team Member</h3>
    <div style="margin-top: 20px">
        <form action="/search_students" id="search-student-form" method="POST" style="display: flex; flex-direction: row">
            <input id="search-student-form-input" type="text" name="name" required placeholder="Search users using name" style="
          background-color: rgba(238, 238, 238, 0.329);
          width: 90%;
          border-radius: 20px;
        " />
            <input type="submit" value="s" style="width: 10%" />
        </form>
    </div>
    <div id="option-page" style="
      width: 100%;
      left: 0px;
      margin: 0px;
      max-width: 100%;
      box-shadow: none;
    ">
        <div id="select-user-empty-div" type="<%=locals.results ? true: false;%>">
            No user Found
        </div>
        <!-- <div id="empty-div">vnfbv</div>
    <div id="empty-div">jvfhvjfn</div> -->
        <main id="select-students-finds">
            <%if(locals.results){%>
                <%for(let option of locals.results){%>
                    <main class="link search-result <%=option.onModel%>-result">
                        <a href="/user/profile?user_id=<%=option.id%>" style="
            height: inherit;
            max-width: 80%;
            width: 80%;
            text-decoration: none;
            color: black;
          ">
                            <div class="option" style="height: auto; width: auto; margin: 0px">
                                <div style="height: auto; width: auto; display: inline; margin: 0px">
                                    <img src="<%=option.pic%>" alt="Logo" />
                                </div>
                                <div class="right-div" style="margin: 0px 0px 0px 4px; width: auto; max-width: 90%">
                                    <span><%=option.name%></span>
                                    <span style="font-size: 11"><%=option.onModel%></span>
                                    <span style="font-size: 11"><%=option.email%></span>

                                    <span style="font-size: 11"><%=option.bio%></span>
                                </div>
                            </div>
                        </a>
                        <div style="
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: auto;
            width: auto;
            margin: 0;
          ">
                            <a href="/creator/updateOrAddTeamMember?user=<%=option.id%>"><button class="select-button">Select</button></a
          >
        </div>
      </main>
      <%}%> <%}%>
    </main>
  </div>
</div>

<script>
  let selectUserEmptyDiv = document.getElementById("select-user-empty-div");
  let type = selectUserEmptyDiv.getAttribute("type");
  console.log("empty div is ", selectUserEmptyDiv, "  type is ", type);
  let search_users = document.querySelectorAll(".search-result").length;
  if (search_users == 0 && type != "false") {
    selectUserEmptyDiv.innerText = "No User Found";
    selectUserEmptyDiv.style.display = "block";
  }
  //handle ajax request for search student
  function findStudentDom(option) {
    return $(`<main class="link search-result ${option.onModel}-result">
                        <a href="/user/profile?user_id=${option._id}" style="
            height: inherit;
            max-width: 80%;
            width: 80%;
            text-decoration: none;
            color: black;
          ">
                            <div class="option" style="height: auto; width: auto; margin: 0px">
                                <div style="height: auto; width: auto; display: inline; margin: 0px">
                                    <img src="${option.pic}" alt="Logo" />
                                </div>
                                <div class="right-div" style="margin: 0px 0px 0px 4px; width: auto; max-width: 90%">
                                    <span>${option.name}</span>
                                    <span style="font-size: 11">${option.onModel}</span>
                                    <span style="font-size: 11">${option.email}</span>

                                    <span style="font-size: 11">${option.bio}</span>
                                </div>
                            </div>
                        </a>
                            <div style="
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: auto;
            width: auto;
            margin: 0;
          ">
                                <a href="/creator/updateOrAddTeamMember?user=${option._id}"><button class="select-button">Select</button></a
          >
        </div>
      </main>`);
  }
  function handleSelectUserSearch() {
    let SelectStudentForm = $("#search-student-form");
    console.log("form is ", SelectStudentForm.prop("action"));
    let inputName = $("#search-student-form-input");
    inputName.on("input", function (e) {
      let name = $(e.target).val();
      if (name.length <= 0) return;
      $.ajax({
        method: "POST",
        url: SelectStudentForm.prop("action"),
        data: SelectStudentForm.serialize(),
        success: function (data) {
          let students = data.data.results;
          let container = $("#select-students-finds");
          container.html("");
          if (students.length == 0) {
            let emptDiv = $("#select-user-empty-div");
            emptDiv.html("No User Found");
            emptDiv.css("display", "block");
          } else {
            let emptDiv = $("#select-user-empty-div");
            emptDiv.html("No User Found");
            emptDiv.css("display", "none");
            for (let std of students) {
              container.append(findStudentDom(std));
            }
          }
        },
        error: function (xhr, err) {
          if (xhr.status == 401) {
            console.log("redirect to login");
            handleNotification("error", "Unauthorized, Sign-In first");
            //redirect to login-page

            setTimeout(function () {
              window.location.href = "/sign-in";
            }, 600);

            return;
          }
          console.log("err is ", err.responseText);
          handleNotification("error", xhr.responseJSON.err);
        },
      });
    });
  }
  handleSelectUserSearch();
</script>