<link rel="stylesheet" href="/css/team.css" />
<div id="team-contaainer" style="height: auto; width: 100%">
    <%var i=0;%>
        <%for(member of _user.related.teamMembers){%>

            <div class="container" id="member-container-<%=i%>" backImage="<%=member.image%>" tabindex="1" onmouseover="handleFocus('<%=i%>')" style="
      /* min-height: 300px; */
      width: 100%;
      position: relative;
      background-size: 150px 200px, 100%;
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: bottom;
      color: white;
      padding: 40px;
      box-sizing: border-box;
    ">
                <%if(locals.user.id==_user.id||member.userId.id==locals.user.id){%>
                    <div class="tem-member-edit-option" id="tem-member-edit-option-<%=i%>">
                        <%if(locals.user.onModel!='Student'){%>
                            <span onClick="handleEditOption(event)" link1="/creator/update-Team-Member?member=<%=member.id%>" link2="/creator/delete-Team-Member?member=<%=member.id%>" id="<%=i%>">&vellip;</span
      >
      <!-- <a href="/creator/update-Team-Member?member=<%=member.id%>">&vellip;</a> -->
      <%}else{%>
      <span
        onClick="handleEditOption(event)"
        link1="/user/own-as-member-update-details-page?member=<%=member.id%>"
        id="<%=i%>"
        >&vellip;</span
      >
      <!-- <a href="/user/own-as-member-update-details-page?member=<%=member.id%>">&vellip;</a
      > -->
      <%}%>
    </div>
    <%}%>
    <div
      class="member-heading"
      id="heading-<%=i%>"
      style="
        word-wrap: break-word;
        overflow: hidden;
        font-size: 35;
        font-weight: 800;
        margin-right: 50px;
        height: auto;
        max-height: 200px;
        box-sizing: border-box;
      "
    >
      <!-- Team Member of AAA group -->
      <%=member.heading%>
    </div>

    <div
      class="member-desc"
      id="desc-<%=i%>"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;
          overflow: hidden;
          margin: 80px 100px 10px 0px;
          font-size: 24;
          font-weight: 10;
          font-weight: 500;
          /* max-height: 250px; */
          height: inherit;
        "
      >
        <%=member.desc%>
        <!-- describe the working criteria or working writes of member jbfvb jvf jfv jfv jfvb hvf jfv jfnv jfvn jhvf kjfvn jnvf jkfvn -->
      </div>
    </div>
    <div
      class="member-name"
      id="name-<%=i%>"
      style="
        height: 0;
        padding: 0px;
        margin: 0px;
        transition: height 0.5s ease;
        box-sizing: border-box;
      "
    >
      <div
        style="
          word-wrap: break-word;

          font-weight: 700;
          font-size: 26;
          padding: 50px;
          padding-left: 0px;
          word-wrap: break-word;
          overflow: hidden;
          height: auto;
          /* max-height: 150px; */
          height: inherit;
        "
      >
        <a
          href="/user/profile?user_id=<%=member.userId.id%>"
          class="profile-link"
        >
          <!-- Shivam kumar mittal jindalGupta -->
          <%=member.userId.name%>
        </a>
      </div>
    </div>
  </div>
  <%i=i+1;%> <%}%>
</div>

<script>
  function handleFocus(id) {
    console.log("runnning ", id);
    document.querySelectorAll(".member-desc").forEach((item) => {
      item.style.height = "0px";
      item.style.opacity = "0";
    });
    document.querySelectorAll(".member-name").forEach((item) => {
      item.style.height = "0px";
      item.style.opacity = "0";
    });
    document.querySelectorAll(".tem-member-edit-option").forEach((item) => {
      item.style.opacity = "0";
    });
    document.querySelectorAll(".toDelete").forEach((item) => {
      item.style.opacity = "0";
    });
    document.querySelectorAll(".member-heading").forEach((item) => {
      item.style.width = "80%";
    });
    // document.getElementById("heading-0").style.display = "block";
    document.getElementById("name-" + id).style.opacity = "1";
    document.getElementById("desc-" + id).style.opacity = "1";
    document.getElementById("name-" + id).style.height = "82px";
    document.getElementById("desc-" + id).style.height = "initial";
    document.getElementById("heading-" + id).style.width = "100%";
    document.getElementById("tem-member-edit-option-" + id).style.opacity = "1";
    document.getElementById("toDelete-" + id).style.opacity = "1";
    // document.getElementById("0").style.height = "1200px";
  }

  document.querySelectorAll(".container").forEach((item) => {
    let rgb = generateDarkColorRgb();
    let backImage = item.getAttribute("backImage");
    backImage = backImage.replace(/\\/g, "/");
    console.log("backImage is ~~~~~~~~~~~~~~~~~~ %%%%%%%%%%%% ", backImage);
    let image =
      "url('http://localhost:8000" +
      backImage +
      "')right bottom / 150px 200px no-repeat";
    console.log("image is ", image);
    item.style.background =
      image +
      ", linear-gradient(150deg, " +
      "rgba(" +
      rgb[0] +
      "," +
      rgb[1] +
      ", " +
      rgb[2] +
      ", 0.8)" +
      " 65%, " +
      "rgba(" +
      rgb[0] +
      "," +
      rgb[1] +
      ", " +
      rgb[2] +
      ", 0.7)" +
      " 35%)";
  });

  function generateDarkColorRgb() {
    let rgb = [];
    for (let r = 0; r < 3; r++) rgb.push(Math.floor(Math.random() * 128));
    return rgb;
  }

  function handleEditOption(event) {
    let classs = "toDelete";
    console.log("event.target is ");
    let ele = event.target;
    let addr2 = ele.getAttribute("link2");
    console.log("addr2 ***************** ", addr2);

    let id = parseInt(ele.getAttribute("id"));
    let D = document.createElement("div");
    D.id = classs + "-" + id;
    D.className = classs;
    D.className += " clickDisappear";
    let limit = addr2 != null ? 3 : 2;

    for (let i = 1; i < limit; i++) {
      let addr = ele.getAttribute("link" + i);
      var link = document.createElement("a");
      link.innerText = i == 1 ? "Update" : "Delete";
      link.href = addr;
      D.appendChild(link);
    }
    // console.log("D is &&&&&&&&&&&&&&&&&&&&&&& ", D);
    document.getElementsByClassName("container")[id].appendChild(D);
  }
</script>