<link rel="stylesheet" href="/css/user_posts.css" />
<div id="user_posts">
    <div id="detail-head">
        <div style="
        margin: -35px 0px 0px 0px;
        position: sticky;
        top: 52px;
        border: none;
        padding: 0px;
        box-sizing: border-box;
        padding-bottom: 28.5px;
        /* background-color: red; */
      ">
            <img src="<%=u.pic%>" style="border-radius: 50%; border: 2.5px solid white" alt="profile-pic" height="65px" width="65px" />
        </div>
        <div style="
        font-size: 18;
        font-weight: 800;
        word-wrap: break-word;
        padding: 0px;
        margin: 0px;
        border: none;
        text-transform: capitalize;
      ">
            <%=types%>
        </div>
    </div>
    <%-include('posts',{posts:posts,loadMorePost:loadMorePost});%>
</div>
<script>
    <%if(target){%>
    //console.log("kjvfhvf %%%%%%% ", '<%=target%>');
    $('.post-some-<%=target%>')[0].scrollIntoView();
    <%}%>
</script>