<div>
    <!-- <%-include('../mail_header');-%> -->
    <h1>Hi,
        <%=data.comment.creator.name%> !</h1>
    <br />
    <br />
    <p>
        Your comment <strong><%=data.comment.content%> </strong> just got published
    </p>
    <br />
    <h3>Thank You</h3>
    <!-- <div>
        <img src="" alt="cdmcb" height="50px" width="50px" />
    </div> -->
    <p>
        <%=data.comment.creator%>
    </p>
    <img src="cccx" height="50px" width="50px" alt="jhghj" />
    <%-include('../mail_footer');-%>
</div>