<% var url='http://chitkaralive.com';%>
    <div style="
    background-color: rgba(34, 33, 33, 0.842) !important;
    color: white !important;
    font-size: 15px;
    padding: 10px;
  ">
        <%-include('../mail_header');-%>
            <div>
                <h4 style="color: rgb(0, 225, 255)">Dear,
                    <%=obj.targetName%>,</h4>
                <br />
                <p style="text-align: center">
                    <span style="color: greenyellow; font-size: 20"><%=obj.day%>, <%=obj.time%></span style="color:white;"> menu chnaged by hostel
                    <a href="<%=url%>/user/profile?user_id=<%=obj.by%>"><%=obj.byName%></a>
                </p>
                <p style="text-align: center; color: aqua">
                    click on below link to see the new menu
                </p>
                <div>
                    Menu Link :
                    <a style="margin-left: 5px" href="<%=url%>/user/profile?user_id=<%=obj.by%>">
                 <%=url%>/user/profile?user_id=<%=obj.by%>
                </a> 
                   
                </div>
            </div>

            <%-include('../mail_footer');-%>
    </div>