<% var url='http://chitkaralive.com';%>
    <div style="
    background-color: rgba(34, 33, 33, 0.842) !important;
    color: white !important;
    font-size: 15px;
    padding: 10px;
  ">
        <%-include('../mail_header');-%>
            <h4 style="text-align: center; color: cyan">
                New
                <%=obj.data.type%> Account Request Recieved
            </h4>
            <div>
                <span>Hi <%=obj.name%>,</span>
                <div style="padding-top: 5px; text-align: center; color: chartreuse">
                    <a href="<%=url%>/user/profile?user_id=<%=obj.sender._id%>">
                        <%=obj.sender.name%> (
                            <%=obj.sender.onModel%>)</a>
                    submit a request for type
                    <%=obj.data.type%>,
                </div>
                <div style="text-align: center">info is given below</div>
                <div style="margin: auto">
                    <table style="
          padding: 5px;
          margin: 10px auto 10px auto;
          color: white !important;
          border: 2px solid black;
        ">
                        <tr style="margin: 5px; padding: 5px">
                            <td style="padding: 4px">Name :</td>
                            <td style="padding: 4px">
                                <%=obj.data.name%>
                            </td>
                        </tr>
                        <tr style="margin: 5px; padding: 5px">
                            <td style="padding: 4px">Type :</td>
                            <td style="padding: 4px">
                                <%=obj.data.type%>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <%-include('../mail_footer');-%>
    </div>